---
layout: page
# The Category layout.
# Overrides the gem's default to also list projects in this category
# alongside posts (site.categories/page.posts only cover the `posts`
# collection natively).
---

{% include lang.html %}
{% assign related_projects = site.projects | where_exp: "p", "p.category == page.title" %}
{% assign total_count = page.posts | size | plus: related_projects.size %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ total_count }}</span>
  </h1>

  {% if related_projects.size > 0 %}
  <h2 class="ps-lg-2 h5 text-muted mt-4">Projects</h2>
  <ul class="content ps-0">
    {% for project in related_projects %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
        <span class="dash flex-grow-1"></span>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.posts.size > 0 %}
  <h2 class="ps-lg-2 h5 text-muted mt-4">Posts</h2>
  <ul class="content ps-0">
    {% for post in page.posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
